.navigation-bar {
  position: fixed;
  bottom: 0px;
  width: 100%;
  background-color: var(--gray);
}

.navigation-bar__icons {
  display: flex;
  justify-content: space-between;
  margin: 10px;
  padding: 10px 50px;
  box-sizing: border-box;
}

.navigation-bar__link {
  position: relative;
}

.navigation-bar__number {
  position: absolute;
  left: 10px;
  bottom: 14px;
}

.navigation-bar__circle {
  position: absolute;
  width: 10px;
  height: 10px;
  background-color: tomato;
  top: 10px;
  border-radius: 5px;
}
