#chat-body {
  background-color: #a0b9c9;
}

#chat-body::-webkit-scrollbar {
  display: none;
}

#chat-body .status-bar {
  background-color: #a0b9c9;
  width: 100%;
  margin: 0px 5px;
  padding: 8px 5px;

  top: 0;
  box-sizing: border-box;
  position: fixed;
  height: 50px;
  align-items: flex-start;
  z-index: 2;
}

#chat-body .status-bar:first-child {
  margin-left: auto;
}

#chat-body .status-bar:last-child {
  margin-right: auto;
}

#chat-body .friends-header {
  background-color: #a0b9c9;
  position: fixed;
  width: 100%;
  margin: 0px auto;
  padding: 0px 10px;
  height: 50px;
  top: 40px;
  z-index: 1;

  box-sizing: border-box;
}

#chat-body .header__icon-left {
  width: 33%;
  display: flex;
  justify-content: flex-start;
}

#chat-body .friends-header__icons {
  width: 33%;
  display: flex;
  justify-content: flex-end;
}

#chat-body .friends-header__title {
  width: 33%;
  display: flex;
  text-align: center;
  box-sizing: border-box;
  white-space: nowrap; /* 텍스트 줄바꿈 금지 */
}

.main {
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 0;
}

.main-chat__date {
  color: white;
  display: flex;
  justify-content: center;
  background-color: silver;
  padding: 8px;
  border-radius: 16px;
}

.main-chat__sender {
  width: 100%;
  margin: 10px;
  box-sizing: border-box;
  padding: 0px 10px;
  align-items: unset;
}

.main-chat__sender-image {
  width: 45px;
  height: 45px;
}
.main-chat__sender-nickname {
  font-size: 15px;
}

.user-list__message-time {
  display: flex;
  align-items: flex-end;
  display: flex;
  justify-content: left;
  margin-top: 10px;
}
.main-chat__sender-message {
  background-color: white;
  opacity: unset;
  border-radius: 10px;
  padding: 10px;
  border-top-left-radius: 0;
}

.main-chat__sender-image {
  align-items: flex-start;
}

.main-chat__sender-time {
  opacity: 0.6;
}

.main-chat__receiver {
  flex-direction: row-reverse;
}

.main-chat__receiver-message-time {
  flex-direction: row-reverse;
}

.main-chat__receiver-message {
  border-top-right-radius: 0;
  border-top-left-radius: 10px;
  margin: 0;
  background-color: #f7e100;
}

.main-chat__input {
  position: fixed;
  bottom: 60px;
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  box-sizing: border-box;
}

.main-chat__input-plus {
  margin: 10px;
  opacity: 0.3;
}

.main-chat__input-chatting {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  height: 35px;
  overflow: hidden;
  box-sizing: border-box;
  margin-right: 5px;
}

.main-chat__input-chatting-text {
  width: 80%;
  border: none;
  font-size: 20px;
  opacity: 0.6;
}
.main-chat__input-chatting-emoticon {
  opacity: 0.2;
  margin-left: 15px;
  margin-right: 10px;
}

.main-chat__input-chatting-send {
  background-color: #f7e100;
  border-radius: 50%;
  height: 30px;
  width: 30px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 3px;
  border-style: none;
}
.main-chat__input-chatting-send:focus,
.main-chat__input-chatting-send:active {
  outline: none;
}

.main-chat__input-chatting-send:hover {
  cursor: pointer;
}

.main-chat__input-chatting-emoticon-send {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
