#chat-body {
  background-color: #a0b9c9;
}

#chat-body::-webkit-scrollbar {
  display: none;
}

#chat-body .status-bar {
  background-color: #a0b9c9;
  width: 100%;
  margin: 0px 5px;
  padding: 0px 5px;
  top: 0;
  box-sizing: border-box;
  position: fixed;
}

#chat-body .status-bar:first-child {
  margin-left: auto;
}

#chat-body .status-bar:last-child {
  margin-right: auto;
}

#chat-body .friends-header {
  background-color: #a0b9c9;
  position: fixed;
  width: 100%;
  margin: 0px auto;
  padding: 0px 10px;
  height: 70px;
  top: 20px;
  box-sizing: border-box;
}

#chat-body .fa-chevron-left {
  width: 33%;
  display: flex;
  justify-content: flex-start;
}

#chat-body .friends-header__icons {
  width: 33%;
  display: flex;
  justify-content: flex-end;
}

.main {
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main-chat__date {
  color: white;
  display: flex;
  justify-content: center;
  background-color: silver;
  padding: 8px;
  border-radius: 16px;
}
