.user-list {
  margin: 20px;
}

.user-list__note {
  margin-right: 15px;
}

.border {
  margin: 10px;
  border-top: var(--border);
}

.suggestions__title {
  font-size: 15px;
  padding-left: 30px;
  font-weight: 600;
  text-align: left top;
  color: var(--color);
}
